In [9]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/datasets/covid-19/master/data/time-series-19-covid-combined.csv")
df.Date = pd.to_datetime(df.Date)
df.head()

,Date,Country/Region,Province/State,Lat,Long,Confirmed,Recovered,Deaths
0,2020-01-22,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0
1,2020-01-23,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0
2,2020-01-24,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0
3,2020-01-25,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0
4,2020-01-26,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0

In [10]:
dates = df.Date.unique()

In [13]:
dates[0].astype("datetime64[D]")

numpy.datetime64('2020-01-22')

In [14]:
df2 = pd.read_csv("https://opendata.ecdc.europa.eu/covid19/casedistribution/csv")
df2.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,11/04/2020,11,4,2020,37,0,Afghanistan,AF,AFG,37172386.0
1,10/04/2020,10,4,2020,61,1,Afghanistan,AF,AFG,37172386.0
2,09/04/2020,9,4,2020,56,3,Afghanistan,AF,AFG,37172386.0
3,08/04/2020,8,4,2020,30,4,Afghanistan,AF,AFG,37172386.0
4,07/04/2020,7,4,2020,38,0,Afghanistan,AF,AFG,37172386.0

In [16]:
len(df2.countryterritoryCode.unique())

202