In [13]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.offline as po
import requests as rq

In [2]:
MAPBOX_TOKEN = 'pk.eyJ1IjoiZ3JvbDIwMjAiLCJhIjoiY2s4bnVxeDk0MTI5MDNqbzJ3N212d3JvNSJ9.g2Pe3QhqbcfGOedTchNgCw'

In [3]:
#read in latest info from https://github.com/datasets/covid-19
df = pd.read_csv("https://raw.githubusercontent.com/datasets/covid-19/master/data/time-series-19-covid-combined.csv")
df.Date = pd.to_datetime(df.Date,format="%Y-%m-%d")
#create population column for later
df["Population"] = np.NaN
df.head()

,Date,Country/Region,Province/State,Lat,Long,Confirmed,Recovered,Deaths,Population
0,2020-01-22,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,NaN
1,2020-01-23,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,NaN
2,2020-01-24,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,NaN
3,2020-01-25,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,NaN
4,2020-01-26,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,NaN

In [7]:
cinfo = rq.get("https://raw.githubusercontent.com/gregory1506/DashPlotly/master/test.json").json()
df2 = df.copy()
df2["Region"] = np.nan
df2["Sub-Region"] = np.nan
df2["ISO3"] = np.nan
countries = df["Country/Region"].unique()
for country in countries:
    if country in cinfo:
        df2.loc[df2["Country/Region"] == country,["Population","Region","Sub-Region","ISO3"]] = cinfo[country][:]
df2.head(5)

,Date,Country/Region,Province/State,Lat,Long,Confirmed,Recovered,Deaths,Population,Region,Sub-Region,ISO3
0,2020-01-22,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,27657145.0,Asia,Southern_Asia,AFG
1,2020-01-23,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,27657145.0,Asia,Southern_Asia,AFG
2,2020-01-24,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,27657145.0,Asia,Southern_Asia,AFG
3,2020-01-25,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,27657145.0,Asia,Southern_Asia,AFG
4,2020-01-26,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,27657145.0,Asia,Southern_Asia,AFG

In [18]:
COUNTRIES = df2["Country/Region"].unique()
DATES = sorted(df2.Date.unique())

In [76]:
def mapbox_center(country=None):
    df_tmp = df2[df2["Country/Region"].isin(country)]
    lat = round(df_tmp.Lat.mean(),3)
    lon = round(df_tmp.Long.mean(),3)
    return dict(lat=lat,lon=lon)

def mapbox_zoom(country=None):
    if set(country) == set(COUNTRIES):
        return 1.07
    else:
        return 3.0

In [77]:
def make_covid_map(case=None,country=None,date=None):
        if country is None or country == []:
            country = COUNTRIES
        elif type(country) == str:
            country = list((country,))
        elif type(country) == list:
            pass
        else:
            print("Only lists or single string accepted for country")
        if date is None:
            date = DATES[-1]
        else:
            date = np.datetime64(date)
        df_tmp = df2[(df2.Date == date) & (df2.Confirmed > 0) & (df2["Country/Region"].isin(country))]
        return {"data" : [go.Scattermapbox(
                                lat=df_tmp.Lat,
                                lon=df_tmp.Long,
                                mode="markers",
                                marker=go.scattermapbox.Marker(
                                        size=df_tmp.Confirmed ** (1/3),
                                        color="red",
                                        opacity=0.7
                                ),
                                text=df_tmp["Country/Region"] + " " + "Confirmed : " + df_tmp["Confirmed"].astype(str),
                                hoverinfo="text"
                                )
                        ],
                "layout" : go.Layout(
                                hovermode="closest",
                                autosize=True,
                                mapbox={"accesstoken":MAPBOX_TOKEN,
                                        "center":mapbox_center(country),
                                        "zoom":mapbox_zoom(country)
                                        },
                                )
        }
fig = go.Figure(make_covid_map(country=["Barbados","US"],date="2020-03-01"))
po.plot(fig,filename="mapbox2.html")

'mapbox2.html'

In [79]:
df2[(df2["Country/Region"] == "China") & (df2.Date == DATES[-1])]

,Date,Country/Region,Province/State,Lat,Long,Confirmed,Recovered,Deaths,Population,Region,Sub-Region,ISO3
4987,2020-04-16,China,Anhui,31.8257,117.2264,991.0,984.0,6.0,1.377422e+09,Asia,Eastern_Asia,CHN
5073,2020-04-16,China,Beijing,40.1824,116.4142,593.0,503.0,8.0,1.377422e+09,Asia,Eastern_Asia,CHN
5159,2020-04-16,China,Chongqing,30.0572,107.8740,579.0,570.0,6.0,1.377422e+09,Asia,Eastern_Asia,CHN
5245,2020-04-16,China,Fujian,26.0789,117.9874,353.0,333.0,1.0,1.377422e+09,Asia,Eastern_Asia,CHN
5331,2020-04-16,China,Gansu,37.8099,101.0583,139.0,137.0,2.0,1.377422e+09,Asia,Eastern_Asia,CHN
5417,2020-04-16,China,Guangdong,23.3417,113.4244,1571.0,1471.0,8.0,1.377422e+09,Asia,Eastern_Asia,CHN
5503,2020-04-16,China,Guangxi,23.8298,108.7881,254.0,252.0,2.0,1.377422e+09,Asia,Eastern_Asia,CHN
5589,2020-04-16,China,Guizhou,26.8154,106.8748,146.0,144.0,2.0,1.377422e+09,Asia,Eastern_Asia,CHN
5675,2020-04-16,China,Hainan,19.1959,109.7453,168.0,162.0,6.0,1.377422e+09,Asia,Eastern_Asia,CHN
5761,2020-04-16,China,Hebei,39.5490,116.1306,328.0,315.0,6.0,1.377422e+09,Asia,Eastern_Asia,CHN
5847,2020-04-16,China,Heilongjiang,47.8620,127.7615,861.0,471.0,13.0,1.377422e+09,Asia,Eastern_Asia,CHN
5933,2020-04-16,China,Henan,33.8820,113.6140,1276.0,1254.0,22.0,1.377422e+09,Asia,Eastern_Asia,CHN
6019,2020-04-16,China,Hong Kong,22.3000,114.2000,1017.0,485.0,4.0,1.377422e+09,Asia,Eastern_Asia,CHN
6105,2020-04-16,China,Hubei,30.9756,112.2707,67803.0,64435.0,3222.0,1.377422e+09,Asia,Eastern_Asia,CHN
6191,2020-04-16,China,Hunan,27.6104,111.7088,1019.0,1014.0,4.0,1.377422e+09,Asia,Eastern_Asia,CHN
6277,2020-04-16,China,Inner Mongolia,44.0935,113.9448,193.0,94.0,1.0,1.377422e+09,Asia,Eastern_Asia,CHN
6363,2020-04-16,China,Jiangsu,32.9711,119.4550,653.0,642.0,0.0,1.377422e+09,Asia,Eastern_Asia,CHN
6449,2020-04-16,China,Jiangxi,27.6140,115.7221,937.0,936.0,1.0,1.377422e+09,Asia,Eastern_Asia,CHN
6535,2020-04-16,China,Jilin,43.6661,126.1923,102.0,96.0,1.0,1.377422e+09,Asia,Eastern_Asia,CHN
6621,2020-04-16,China,Liaoning,41.2956,122.6085,145.0,140.0,2.0,1.377422e+09,Asia,Eastern_Asia,CHN
6707,2020-04-16,China,Macau,22.1667,113.5500,45.0,16.0,0.0,1.377422e+09,Asia,Eastern_Asia,CHN
6793,2020-04-16,China,Ningxia,37.2692,106.1655,75.0,75.0,0.0,1.377422e+09,Asia,Eastern_Asia,CHN
6879,2020-04-16,China,Qinghai,35.7452,95.9956,18.0,18.0,0.0,1.377422e+09,Asia,Eastern_Asia,CHN
6965,2020-04-16,China,Shaanxi,35.1917,108.8701,256.0,251.0,3.0,1.377422e+09,Asia,Eastern_Asia,CHN
7051,2020-04-16,China,Shandong,36.3427,118.1498,784.0,761.0,7.0,1.377422e+09,Asia,Eastern_Asia,CHN
7137,2020-04-16,China,Shanghai,31.2020,121.4491,628.0,489.0,7.0,1.377422e+09,Asia,Eastern_Asia,CHN
7223,2020-04-16,China,Shanxi,37.5777,112.2922,194.0,135.0,0.0,1.377422e+09,Asia,Eastern_Asia,CHN
7309,2020-04-16,China,Sichuan,30.6171,102.7103,560.0,552.0,3.0,1.377422e+09,Asia,Eastern_Asia,CHN
7395,2020-04-16,China,Tianjin,39.3054,117.3230,186.0,172.0,3.0,1.377422e+09,Asia,Eastern_Asia,CHN
7481,2020-04-16,China,Tibet,31.6927,88.0924,1.0,1.0,0.0,1.377422e+09,Asia,Eastern_Asia,CHN
7567,2020-04-16,China,Xinjiang,41.1129,85.2401,76.0,73.0,3.0,1.377422e+09,Asia,Eastern_Asia,CHN
7653,2020-04-16,China,Yunnan,24.9740,101.4870,184.0,176.0,2.0,1.377422e+09,Asia,Eastern_Asia,CHN
7739,2020-04-16,China,Zhejiang,29.1832,120.0934,1268.0,1244.0,1.0,1.377422e+09,Asia,Eastern_Asia,CHN

In [57]:
mapbox_center(["US","Russia"])

{'lat': 48.545, 'lon': -2.856}

In [89]:
date = DATES[-1]
country = ["US","Canada"]
tmp = df2[(df2.Date == date) & (df2.Confirmed > 0) & (df2["Country/Region"].isin(country))]
tmp1 = tmp.groupby(["Date"]).agg(sum).copy()
# tmp1["Confirmed"][0]
tmp1

                 Lat       Long  Confirmed  Recovered   Deaths   Population
Date
2020-04-16  708.8509 -1333.3418   698610.0    54703.0  34174.0  793968331.0

In [96]:
date = DATES[-1]
country = ["US","Canada"]
tmp = df2[(df2.Date.isin(DATES[:DATES.index(date)])) & (df2.Confirmed > 0) & (df2["Country/Region"].isin(country))]
tmp = tmp.groupby(["Date"]).agg(sum).copy()
fig = go.Figure()
fig.add_trace(go.Scatter(x=tmp.index,y=tmp.Deaths,fill='tozeroy',fillcolor="red",mode='none',name="Deaths"))
fig.add_trace(go.Scatter(x=tmp.index,y=tmp.Recovered,fill='tonexty',fillcolor="green",mode='none',name="Recovered"))
fig.add_trace(go.Scatter(x=tmp.index,y=tmp.Confirmed,fill='tonexty',fillcolor="blue",mode='none',name="Confirmed"))
fig.update_layout(showlegend=True,xaxis=dict(title="Progression of Outbreak (Date)"),yaxis=dict(title="Number of cases"))
po.plot(fig,filename="lineplot2.html")

'lineplot2.html'

In [92]:
datf = np.datetime64("2020-04-01")
DATES.index(datf)

70

In [131]:
cases = ["Confirmed","Recovered"]
COLORS = {"Confirmed":"red","Recovered":"green","Deaths":"blue"}
def make_covid_map(country=None,date=None,cases=None):
        if cases is None:
            cases = list(("Confirmed",))
        elif cases == "All":
            cases = ["Confirmed","Recovered","Deaths"]
        else:
            pass
        if country is None or country == []:
            country = COUNTRIES
        elif type(country) == str:
            country = list((country,))
        elif type(country) == list:
            pass
        else:
            print("Only lists or single string accepted for country")
        if date is None:
            date = DATES[-1]
        else:
            date = np.datetime64(date)
        fig = go.Figure()
        for case in cases:
                df_tmp = df2[(df2.Date == date) & (df2[case] > 0) & (df2["Country/Region"].isin(country))]
                fig.add_trace(go.Scattermapbox(
                                        lat=df_tmp.Lat,
                                        lon=df_tmp.Long,
                                        mode="markers",
                                        marker=go.scattermapbox.Marker(
                                                size=df_tmp[case] ** (1/3),
                                                color=COLORS[case],
                                                opacity=0.7
                                        ),
                                        text=df_tmp["Country/Region"] + "," +df_tmp["Province/State"] + f"<br>" "{case} : " + df_tmp[case].astype(str),
                                        hoverinfo="text"
                                        )
                                )
        fig.update_layout(hovermode="closest",
                autosize=False,
                mapbox={"accesstoken":MAPBOX_TOKEN,
                        "center":mapbox_center(country),
                        "zoom":mapbox_zoom(country)
                        },
                margin=dict(r=0,l=0,t=0,b=0,pad=0),
                legend={"y":0},
                showlegend=True
                )
        return fig

po.plot(make_covid_map(country=country,date=None,cases=None),filename="mapbox3.html")

'mapbox3.html'

In [134]:
df2["Sub-Region"].unique()

array(['Southern_Asia', 'Southern_Europe', 'Northern_Africa',
       'Middle_Africa', 'Caribbean', 'South_America', 'Western_Asia',
       'Australia_and_New_Zealand', 'Western_Europe', 'Eastern_Europe',
       'Central_America', 'Western_Africa', 'Southern_Africa',
       'South-Eastern_Asia', 'Eastern_Africa', 'Northern_America',
       'Eastern_Asia', 'Northern_Europe', nan, 'Melanesia',
       'Central_Asia'], dtype=object)

In [135]:
df2.head()

,Date,Country/Region,Province/State,Lat,Long,Confirmed,Recovered,Deaths,Population,Region,Sub-Region,ISO3
0,2020-01-22,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,27657145.0,Asia,Southern_Asia,AFG
1,2020-01-23,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,27657145.0,Asia,Southern_Asia,AFG
2,2020-01-24,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,27657145.0,Asia,Southern_Asia,AFG
3,2020-01-25,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,27657145.0,Asia,Southern_Asia,AFG
4,2020-01-26,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0,27657145.0,Asia,Southern_Asia,AFG

In [149]:
df2["DPM"] = round(((1000000 / df2.Population) * df.Deaths),3)

In [147]:
df2.DPM.max()

0.149

In [150]:
df2.describe()

,Lat,Long,Confirmed,Recovered,Deaths,Population,DPM
count,22704.000000,22704.000000,22618.000000,21500.000000,22618.000000,2.253200e+04,22446.00000
mean,21.529941,21.765487,1554.115970,402.711721,84.698338,1.988800e+08,59.35275
std,24.745779,70.965413,15302.531159,3764.717215,944.873644,4.491563e+08,2290.11989
min,-51.796300,-135.000000,-1.000000,0.000000,-1.000000,4.510000e+02,-0.02800
25%,7.405000,-27.932425,0.000000,0.000000,0.000000,4.697854e+06,0.00000
50%,23.659750,20.535638,2.000000,0.000000,0.000000,1.837795e+07,0.00000
75%,41.227200,78.750000,119.000000,11.000000,1.000000,6.511000e+07,0.00200
max,71.706900,178.065000,667801.000000,77000.000000,32916.000000,1.377422e+09,149333.33300

In [151]:
df2[df2.DPM > 1000]

,Date,Country/Region,Province/State,Lat,Long,Confirmed,Recovered,Deaths,Population,Region,Sub-Region,ISO3,DPM
12355,2020-03-19,India,NaN,21.0000,78.0000,194.0,15.0,4.0,3000.0,Africa,Eastern_Africa,IOT,1333.333
12356,2020-03-20,India,NaN,21.0000,78.0000,244.0,20.0,5.0,3000.0,Africa,Eastern_Africa,IOT,1666.667
12357,2020-03-21,India,NaN,21.0000,78.0000,330.0,23.0,4.0,3000.0,Africa,Eastern_Africa,IOT,1333.333
12358,2020-03-22,India,NaN,21.0000,78.0000,396.0,27.0,7.0,3000.0,Africa,Eastern_Africa,IOT,2333.333
12359,2020-03-23,India,NaN,21.0000,78.0000,499.0,27.0,10.0,3000.0,Africa,Eastern_Africa,IOT,3333.333
12360,2020-03-24,India,NaN,21.0000,78.0000,536.0,40.0,10.0,3000.0,Africa,Eastern_Africa,IOT,3333.333
12361,2020-03-25,India,NaN,21.0000,78.0000,657.0,43.0,12.0,3000.0,Africa,Eastern_Africa,IOT,4000.000
12362,2020-03-26,India,NaN,21.0000,78.0000,727.0,45.0,20.0,3000.0,Africa,Eastern_Africa,IOT,6666.667
12363,2020-03-27,India,NaN,21.0000,78.0000,887.0,73.0,20.0,3000.0,Africa,Eastern_Africa,IOT,6666.667
12364,2020-03-28,India,NaN,21.0000,78.0000,987.0,84.0,24.0,3000.0,Africa,Eastern_Africa,IOT,8000.000
12365,2020-03-29,India,NaN,21.0000,78.0000,1024.0,95.0,27.0,3000.0,Africa,Eastern_Africa,IOT,9000.000
12366,2020-03-30,India,NaN,21.0000,78.0000,1251.0,102.0,32.0,3000.0,Africa,Eastern_Africa,IOT,10666.667
12367,2020-03-31,India,NaN,21.0000,78.0000,1397.0,123.0,35.0,3000.0,Africa,Eastern_Africa,IOT,11666.667
12368,2020-04-01,India,NaN,21.0000,78.0000,1998.0,148.0,58.0,3000.0,Africa,Eastern_Africa,IOT,19333.333
12369,2020-04-02,India,NaN,21.0000,78.0000,2543.0,191.0,72.0,3000.0,Africa,Eastern_Africa,IOT,24000.000
12370,2020-04-03,India,NaN,21.0000,78.0000,2567.0,192.0,72.0,3000.0,Africa,Eastern_Africa,IOT,24000.000
12371,2020-04-04,India,NaN,21.0000,78.0000,3082.0,229.0,86.0,3000.0,Africa,Eastern_Africa,IOT,28666.667
12372,2020-04-05,India,NaN,21.0000,78.0000,3588.0,229.0,99.0,3000.0,Africa,Eastern_Africa,IOT,33000.000
12373,2020-04-06,India,NaN,21.0000,78.0000,4778.0,375.0,136.0,3000.0,Africa,Eastern_Africa,IOT,45333.333
12374,2020-04-07,India,NaN,21.0000,78.0000,5311.0,421.0,150.0,3000.0,Africa,Eastern_Africa,IOT,50000.000
12375,2020-04-08,India,NaN,21.0000,78.0000,5916.0,506.0,178.0,3000.0,Africa,Eastern_Africa,IOT,59333.333
12376,2020-04-09,India,NaN,21.0000,78.0000,6725.0,620.0,226.0,3000.0,Africa,Eastern_Africa,IOT,75333.333
12377,2020-04-10,India,NaN,21.0000,78.0000,7598.0,774.0,246.0,3000.0,Africa,Eastern_Africa,IOT,82000.000
12378,2020-04-11,India,NaN,21.0000,78.0000,8446.0,969.0,288.0,3000.0,Africa,Eastern_Africa,IOT,96000.000
12379,2020-04-12,India,NaN,21.0000,78.0000,9205.0,1080.0,331.0,3000.0,Africa,Eastern_Africa,IOT,110333.333
12380,2020-04-13,India,NaN,21.0000,78.0000,10453.0,1181.0,358.0,3000.0,Africa,Eastern_Africa,IOT,119333.333
12381,2020-04-14,India,NaN,21.0000,78.0000,11487.0,1359.0,393.0,3000.0,Africa,Eastern_Africa,IOT,131000.000
12382,2020-04-15,India,NaN,21.0000,78.0000,12322.0,1432.0,405.0,3000.0,Africa,Eastern_Africa,IOT,135000.000
12383,2020-04-16,India,NaN,21.0000,78.0000,13430.0,1768.0,448.0,3000.0,Africa,Eastern_Africa,IOT,149333.333
18308,2020-04-07,San Marino,NaN,43.9424,12.4578,279.0,40.0,34.0,33005.0,Europe,Southern_Europe,SMR,1030.147
18309,2020-04-08,San Marino,NaN,43.9424,12.4578,279.0,40.0,34.0,33005.0,Europe,Southern_Europe,SMR,1030.147
18310,2020-04-09,San Marino,NaN,43.9424,12.4578,333.0,49.0,34.0,33005.0,Europe,Southern_Europe,SMR,1030.147
18311,2020-04-10,San Marino,NaN,43.9424,12.4578,344.0,50.0,34.0,33005.0,Europe,Southern_Europe,SMR,1030.147
18312,2020-04-11,San Marino,NaN,43.9424,12.4578,356.0,53.0,35.0,33005.0,Europe,Southern_Europe,SMR,1060.445
18313,2020-04-12,San Marino,NaN,43.9424,12.4578,356.0,53.0,35.0,33005.0,Europe,Southern_Europe,SMR,1060.445
18314,2020-04-13,San Marino,NaN,43.9424,12.4578,356.0,53.0,35.0,33005.0,Europe,Southern_Europe,SMR,1060.445
18315,2020-04-14,San Marino,NaN,43.9424,12.4578,371.0,53.0,36.0,33005.0,Europe,Southern_Europe,SMR,1090.744
18316,2020-04-15,San Marino,NaN,43.9424,12.4578,372.0,53.0,36.0,33005.0,Europe,Southern_Europe,SMR,1090.744
18317,2020-04-16,San Marino,NaN,43.9424,12.4578,426.0,55.0,38.0,33005.0,Europe,Southern_Europe,SMR,1151.341