In [2]:
import pandas as pd
import plotly.offline as po
import plotly.graph_objects as go  

df = pd.read_csv("https://raw.githubusercontent.com/datasets/covid-19/master/data/time-series-19-covid-combined.csv")
df.Date = pd.to_datetime(df.Date, format="%Y-%m-%d")
df.head()

,Date,Country/Region,Province/State,Lat,Long,Confirmed,Recovered,Deaths
0,2020-01-22,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0
1,2020-01-23,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0
2,2020-01-24,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0
3,2020-01-25,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0
4,2020-01-26,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0

In [3]:
df2 = pd.read_csv("https://opendata.ecdc.europa.eu/covid19/casedistribution/csv")
df2.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,12/04/2020,12,4,2020,34,3,Afghanistan,AF,AFG,37172386.0
1,11/04/2020,11,4,2020,37,0,Afghanistan,AF,AFG,37172386.0
2,10/04/2020,10,4,2020,61,1,Afghanistan,AF,AFG,37172386.0
3,09/04/2020,9,4,2020,56,3,Afghanistan,AF,AFG,37172386.0
4,08/04/2020,8,4,2020,30,4,Afghanistan,AF,AFG,37172386.0

In [31]:
tmp = df.groupby(["Country/Region","Date"]).agg(sum).copy()
fig = go.Figure()
fig.add_trace(go.Scatter(x=tmp.index,y=tmp.Deaths,fill='tozeroy',fillcolor="red",mode='none',name="Deaths"))
fig.add_trace(go.Scatter(x=tmp.index,y=tmp.Recovered,fill='tonexty',fillcolor="green",mode='none',name="Recovered"))
fig.add_trace(go.Scatter(x=tmp.index,y=tmp.Confirmed,fill='tonexty',fillcolor="blue",mode='none',name="Confirmed"))
fig.update_layout(title="Test",showlegend=True,xaxis=dict(title="Progression of Outbreak (Date)"),yaxis=dict(title="Number of cases"))
# po.plot(fig,filename="lineplot.html")
tmp.loc["Afghanistan"]

             Lat  Long  Confirmed  Recovered  Deaths
Date
2020-01-22  33.0  65.0        0.0        0.0     0.0
2020-01-23  33.0  65.0        0.0        0.0     0.0
2020-01-24  33.0  65.0        0.0        0.0     0.0
2020-01-25  33.0  65.0        0.0        0.0     0.0
2020-01-26  33.0  65.0        0.0        0.0     0.0
...          ...   ...        ...        ...     ...
2020-04-07  33.0  65.0      423.0       18.0    14.0
2020-04-08  33.0  65.0      444.0       29.0    14.0
2020-04-09  33.0  65.0      484.0       32.0    15.0
2020-04-10  33.0  65.0      521.0       32.0    15.0
2020-04-11  33.0  65.0      555.0       32.0    18.0

[81 rows x 5 columns]